.activity {
  display: grid;
  grid-template-areas:
    'img type'
    'img title'
    'img id'
    'img bio'
    'img date-start'
    'img date-end'
    'img totalplaces'
    'img price'
    'img location'
    'img places'
    'button-noreserva rating'
    'rate error'
    'button-reserva edit';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 50px);
  border: 1px solid whitesmoke;
  background-color: #4197dd;
  gap: 10px;
}
.activity > p.foto-actividad {
  grid-area: img;
  margin: 10px;
  position: relative;
  top: 50px;
  margin-bottom: -20px;
}
.activity > h2.type {
  grid-area: type;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 1.4em;
}
.activity > p.title {
  grid-area: title;
}
.activity > p.id {
  grid-area: id;
}
.activity > p.bio {
  grid-area: bio;
  word-spacing: -1px;
  margin-top: -5px;
  margin-bottom: 10px;
}
.activity > p.date-start {
  grid-area: date-start;
  padding-top: 10px;
}
.activity > p.date-end {
  grid-area: date-end;
}
.activity > p.totalplaces {
  grid-area: totalplaces;
}
.activity > p.price {
  grid-area: price;
}
.activity > p.location {
  grid-area: location;
}
.activity > p.places {
  grid-area: places;
}
.activity > p.rating {
  grid-area: rating;
}
.activity > div.error {
  grid-area: error;
}
.activity > ul.rate {
  grid-area: rate;
  margin-left: 50px;
  margin-top: -20px;
}
.activity > a.edit {
  grid-area: edit;
  margin-bottom: 10px;
}
.activity > button.button-reserva {
  grid-area: button-reserva;
  margin-left: 180px;
  width: 100px;
  height: 25px;
}
.activity > button.button-noreserva {
  grid-area: button-reserva;
  margin-top: -50px;
  margin-left: 180px;
  width: 100px;
  height: 40px;
}
.activity > button {
  width: 100px;
  margin-top: -20px;
  margin-left: 80px;
  margin-bottom: 15px;
}

.activity > p {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.705);
}

strong {
  color: black;
  font-style: oblique;
  font-size: 1.2em;
  margin: 7px;
  vertical-align: text-bottom;
}

.activity > p > img {
  width: 450px;
  height: 380px;
}

.activity .rate {
  display: flex;
  list-style: none;
}
