.activity {
  display: grid;
  grid-template-areas:
    'img type'
    'img title'
    'img id'
    'img bio'
    'img date-start'
    'img date-end'
    'img totalplaces'
    'img price'
    'img location'
    'img places'
    'img rating'
    'rate error'
    'edit edit';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 50px);
  border: 1px solid whitesmoke;
  background-color: #4197dd;
}
.activity > p.foto-actividad {
  grid-area: img;
  margin: 10px;
  position: relative;
  top: 50px;
}
.activity > h2.type {
  grid-area: type;
}
.activity > p.title {
  grid-area: title;
}
.activity > p.id {
  grid-area: id;
}
.activity > p.bio {
  grid-area: bio;
}
.activity > p.date-start {
  grid-area: date-start;
}
.activity > p.date-end {
  grid-area: date-end;
}
.activity > p.totalplaces {
  grid-area: totalplaces;
}
.activity > p.price {
  grid-area: price;
}
.activity > p.location {
  grid-area: location;
}
.activity > p.places {
  grid-area: places;
}
.activity > p.rating {
  grid-area: rating;
}
.activity > div.error {
  grid-area: error;
}
.activity > ul.rate {
  grid-area: rate;
}
.activity > a.edit {
  grid-area: edit;
}
.activity > p {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.705);
}

strong {
  color: black;
  font-size: 1.2em;
  margin: 7px;
  vertical-align: text-bottom;
}

.activity > p > img {
  width: 450px;
  height: 380px;
}

.activity .rate {
  display: flex;
  list-style: none;
}

.activity .edit > a {
}
