.App {
  text-align: center;
  list-style: none;
  align-content: center;
  padding: 80px 0px;
  background-image: url(./static/slide-01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  display: flex;
  float: right;
  top: 0%;
  margin-right: 10px;
  margin-top: 0;
  padding-top: 0;
}

hr {
  width: 100vw;
  border: 1px solid red;
}

body {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
}

/* h1 {
  background-color: black;
  background-size: initial;
  background-origin: inherit;
  color: aquamarine;
  /* border: 1px solid red;
  border-width: thick;
  width: fit-content; */
/* } */
h1 {
  background-color: transparent;
  color: white;
  font-size: 50px;
}

button {
  background-color: black;
  color: goldenrod;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  background-color: darkgray;
  /* border: 1px solid brown;
    border-radius: 60%;
    opacity: 60%; */
}
