.foto-buceo {
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: url('../src/static/download.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px;
  padding: 20px;
}

.titulo {
  float: left;
  font-size: 1rem;
  color: brown;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.buceo-principal {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 40px;
  text-align: start;
  padding-left: 90px;
}

.buceo2-principal {
  margin-top: 20px;
  padding-top: 40px;
  text-align: start;
  padding-left: 130px;
}
