.footer1 {
  background-color: grey;
  margin: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.footer1 a {
  display: inline-flex;
  word-spacing: 1px;
  color: aquamarine;
  margin: 10px;
}

/* .where {
  float: right;
  margin-right: 25px;
  vertical-align: super;
} */
