.footer1 {
  background-color: grey;
  margin: 15px;
  width: 90vw;
  height: 70px;
  vertical-align: middle;
}

.footer1 a {
  display: inline-flex;
  justify-content: space-between;
  gap: 10px;
  word-spacing: 1px;
  color: aquamarine;
  margin: 10px;
  margin-top: 10px;
  vertical-align: middle;
}

/* .where {
  float: right;
  margin-right: 25px;
  vertical-align: super;
} */
