.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-modal {
  width: 100px;
  margin-top: 15px;
  position: relative;
  left: 120px;
}

.modal-fg {
  background-color: rgba(101, 231, 236, 0.959);
  border-radius: 4px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
  color: black;
  padding: 20px;
  text-align: center;
  min-width: 350px;
}

.modal-fg form label {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 12px;
  width: 250px;
}
.escape-inicio {
  background-color: rgba(255, 0, 0, 0.767);
  color: black;
  width: 25px;
  margin-left: 13em;
  margin-top: 5px;
  position: relative;
  top: -255px;
  right: 0;
  left: 173px;
  bottom: 0;
}

.escape-registro {
  background-color: rgba(255, 0, 0, 0.795);
  color: black;
  width: 25px;
  margin-left: 13em;
  margin-top: 5px;
  position: relative;
  top: -322px;
  right: 0;
  left: 173px;
  bottom: 0;
}
