.foto-masajes {
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: url("../src/static/masajes.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px;
  padding: 20px;
}

h2 {
  float: left;
  font-size: 1rem;
  color: brown;
  margin-left: 45px;
  margin-top: 20px;
}

p {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.masajes-principal {
  width: 60vw;
  text-align: left;
  padding-top: 40px;
  padding-left: 90px;
}

.masajes2-principal {
  width: 70vw;
  text-align: left;
  padding-top: 40px;
  padding-left: 120px;
}
