/* @font-face {
  font-family: "power_symbols";
  src: url("Unicode_IEC_symbol.woff2") format("woff2"),
    url("Unicode_IEC_symbol.woff") format("woff");
}

.power {
  font-family: "power_symbols";
  font-style: normal;
} */
.top {
    display: flex;
    flex: 1 1 auto;

    justify-content: space-between;
    margin: 15px;
    align-items: center;
}

aside.menu a {
    text-decoration: none;
    color: #1c90a0 !important;
}

aside.menu a.active {
    text-decoration: underline;
}

.user-area {
    display: flex;
    flex-direction: column;
}

/* .avatar {
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 10px;
} */

.logout {
    display: flex;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    font-weight: bolder;
}

#menu {
    padding: 5px 0px;
    background-color: rgba(255, 255, 255, 0.692);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
