.top {
  display: flex;
  flex: 1 1 auto;
  width: 90vw;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  align-items: stretch;
  background-color: rgb(129, 129, 129);
}

aside.menu a {
  text-decoration: none;
  color: blue;
}

aside.menu a.active {
  text-decoration: underline;
}

.button-menu {
  color: white;
  border: 1px solid red;
  background-color: blue;
}

.user-area {
  display: flex;
  align-items: center;
}

.avatar {
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
