/* @font-face {
  font-family: "power_symbols";
  src: url("Unicode_IEC_symbol.woff2") format("woff2"),
    url("Unicode_IEC_symbol.woff") format("woff");
}

.power {
  font-family: "power_symbols";
  font-style: normal;
} */
.top {
  display: flex;
  flex: 1 1 auto;
  width: 90vw;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  align-items: stretch;
  background-color: #8f8a838a;
}

aside.menu a {
  text-decoration: none;
  color: blue;
}

aside.menu a.active {
  text-decoration: underline;
}

.button-menu {
  color: white;
  border: 1px solid red;
  background-color: blue;
}

.user-area {
  display: flex;
  flex-direction: column;
}

/* .avatar {
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 10px;
} */

.logout {
  display: flex;
  color: red;
  margin-top: 5px;
}
