.foto {
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: url("../src/static/istockphoto-143918363-612x612.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px;
  padding: 20px;
}

.surf-principal {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 40px;
  text-align: start;
  padding-left: 70px;
}

.surf2-principal {
  margin-top: 20px;
  padding-top: 40px;
  text-align: start;
  padding-left: 130px;
}
